/* 전체 공통적으로 적용될 디자인 정의 */
* {padding: 0;margin: 0;}

ul, li, ol, dl, dd {list-style: none;}
img {max-width: 100%; height: auto;} /* height가 넓이에 따라 가도록 한다. */
input {border:none;}
button {border: none;}
a {text-decoration: none;}