@import url(default.css);

body{background-color: #fff0f3;}
.container {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.item1 {
    overflow: hidden;
    width: 100%;
    height: 150px;
    border-bottom: 3px solid #000;
}
.item1 .left {
    float: left;
    width: 65%;
    overflow: hidden;
}

.item1 .right {float: right; width: 35%;}


/* ======= 글 작성하기 ======= */
.write {
    float: left;
    border: 2px solid #777;
    border-radius: 5px;
    width: 120px;
    height: 34px;
    margin: 0 150px 5px 150px;
    background-color: white;
}
.write > a:hover {
    color: white;
}
.write > a > p {
    display: inline;
    color: #000;
    font-size: 15px;
}



/* ======= 검색바 ======= */
.search{float: right;}
.search-bar {
    border: 1px solid #777;
    border-radius: 10px;
    width: 350px;
    height: 40px;
    background-color: white;
}
.search-bar > button {
    border: none;
    width: 24px;
    height: 24px;
    background-image: url(img/search.png);  
    background-repeat: no-repeat;
    text-indent: -9999px;
    margin: 7px 3px;
    background-color: white;
}
.search-bar #text-bar {
    float: left;
    border: none;
    width: 200px;
    height: 30px;
    margin-top: 5px;
}
.search-bar #text-bar:focus {
    box-shadow: none;
}


/* ======= 글 정렬 ======= */
.sort {
    border: 1px solid #777;
    border-radius: 5px;
    width: 120px;
    height: 34px;
    background-color: white;
    margin: 0 0 5px 150px;
}
.sort > button {
    border: none;
    background-color: white;
    height: 24px;
    margin-left: 10px;
}
.sort > ul {
    min-width: 120px;
    margin: 0;
}
.sort > ul > li > a {
    
}
.sort > ul > li > a > img {
    margin-right: 10px;
}

/* ===== 게시글 ===== */
.item2 {
    overflow: hidden;
    width: 100%;
    height: 150px;
    border-bottom: 3px solid #000;
}

.top {margin: 7px;}
/* 작성자 이름 */
.top > a:nth-child(2) {
    color: #000;
    font-size: 12px;
} 
/* 작성시간 */
.top > span {
    font-size: 12px;
}

/* 글 제목 */
.mid {margin: 30px 0 30px 7px;}
.mid > a {
    color: #000;
    font-size: 20px;
}




.bottom {
    overflow: hidden;
    margin: 7px;
}
.bottom .left {float: left;}
.bottom .right {float: right;}

/* 카테고리 */
.bottom .left {margin: 5px;}
.bottom .left > a {
    color: #000;
    font-size: 12px;
}

/* 조회수 */
.bottom .right .hits {
    display: inline;
} 
.bottom .right .comments {
    display: inline;
}
.bottom .right .good {
    display: inline;
}


/* 하단 페이지 */
.bottom-page {margin: 10px;}

/* 중앙 숫자 페이지 버튼 */
.bottom-page > ul > p {
    display: inline;
    font-size: 20px;
    margin: 0 7px 0 0;
}
.bottom-page > ul > button {
    width: 32px;
    height: 32px;
    background-color: #fff0f3;
}
.bottom-page > ul > button > a {
    color: #000;
    font-size: 15px;
}

/* 이전, 다음 페이지 버튼 */
.bottom-page > ul > li > a {
    color: #000;
    border: none;
    background-color: #fff0f3;
}
.bottom-page > ul > li > a:hover {
    background-color: #fff0f3;
    text-decoration: underline;

}